[Desktop Entry]
Name=Netatmo
Comment=A widget to see your netatmo station

Type=Service
Icon=weather-clouds-wind-night
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Aurélien Bras
X-KDE-PluginInfo-Email=aurelien.bras@gmail.com
X-KDE-PluginInfo-Name=com.github.profy12.netatmo-plasmoid

X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=https://github.com/profy12/netatmo-plasmoid
X-KDE-PluginInfo-Category=Environment and Weather
